/*login ------------------------------------------------*/
body{
  background-color: #e9e9e9;
  font-family: sans-serif;
}

a { font-size: 15px; text-decoration: none; color: #2831b3;}
a:hover {color: #b83845;}


.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: 1px 1 px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-topo{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}

.card-group> label{
    width: 100%;
    color: rgb(82, 81, 81);
    display: block;
    
}

.card-group> input{
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding: 5px;
    
}

.card-group >button{
    background-image: linear-gradient(to right, #b83845, #b32828);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
    cursor: pointer;

}

.card-final{
    text-align: center;

}

.btn button:hover{
    background-image: linear-gradient(to right, #b32828, #dc3545);
}

.imglogin{
    border-radius: 50px;
    width: 100px;
    box-shadow: 0px 0px 5px #ccc;
}

.title{
    color: #dc3545;
}



/*passwordrecovery -----------------------------------------------*/

.form2{
    width: 400px;
    margin: auto;
    padding-top: 150px;

}

.card2 {
    box-shadow: 1px 1 px 5px #ccc;
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    text-align-last: center;
}
.card2> label{
    width: 100%;
    color: rgb(82, 81, 81);
    display: block;

}

.card2 >button{
    background-image: linear-gradient(to right, #b83845, #b32828);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.card2> input{
    border-radius: 5px;
    width: 90%;
    height: 20px;
    padding: 5px;
}

/*Home Index -----------------------------------------------*/

.menuindex{
    box-shadow: 1px 1 px 5px #ccc;
    background-color: white;
    padding: 20px;
    width: 1200px;
    border-radius: 5px;
    text-align-last: center;
    margin: auto;
}